{% extends 'yoga_website/home.html' %}
{% block title %} Créer Atelier {% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid p-3 text-white text-center">
    <div class="shadow-lg p-4 mb-4 bg-success rounded">
        <h1>Créer un Atelier</h1>


        <form role="form" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-light">Créer l'atelier</button>
        </form>

    </div>
</div>


{% endblock content %}