{% extends 'yoga_website/bienvenu.html' %}
{% load static %}
{% block title %}
Mon espace
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<div class="p-3 bg-white shadow-lg">
    <h1>Mon espace personnel :</h1>
    <h2>Bienvenue <strong class="text-vert">{{ user.username }} </strong> </h2>
{% if user1 == "client" %}
    <h3 class="">Votre compte est activé <i class="fas fa-clipboard-check text-{{var_color}}"></i></h3>
</div>
    <div class="p-3 bg-white shadow-lg mt-2">
        <h1>Mes coordonnées :</h1>
        <ul class="text-vert">
                <li> <h4> <strong>Nom : </strong>{{ client.nom }}</h4></li>
                <li> <h4> <strong>Prénom : </strong>{{ client.prenom }}</h4></li>
                <li> <h4> <strong>N° : </strong>{{ client.tel }}</h4></li>
                <li> <h4> <strong>Email : </strong>{{ client.email }}</h4></li>
        </ul>
    </div>

    <div class="p-3 bg-white shadow-lg mt-2">
        <h1>Mes prochaines séances :</h1>
        <h3 >Vous êtes inscrit à <strong class="text-vert">{{ nb_registered }} séance{{ nb_registered|pluralize }} </strong></h3>
        <ul>
            {% for l in ateliers %}
                {% if l.id in id_registered %}
                    <a href="{% url 'detailAteliers'  l.id client.id %}">
                        <li>{{ l.type }} {{ l.date }} - {{ l.lieux }}</li>
                    </a>
                {% else %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="p-3 bg-white shadow-lg mt-2">
        <h1>Modifier mes informations :</h1>

        <form class="w-50 text-center d-block mx-auto" role="form" action="{% url 'espace' %}" method="post">
            {% csrf_token %}
            {{ user_modif|crispy}}
            <button type="submit" class="btn btn-outline-primary">Modifier mes informations</button>
        </form>

    </div>
{% else %}
{% endif %}

{% if user1 == "client_not_active" %}
    <h3>Attention ! Votre compte n'est pas encore activé <i class="fas fa-clipboard-check text-danger"></i></h3>
    <h4>Veuillez remplir et nous transmettre votre forumalaire : <a target="_blank" href="{{ chemin_pdf }}"> Télécharger mon formulaire </a> </h4>
    <div class="p-3 bg-white shadow-lg mt-2">
        <h1>Modifier mes informations :</h1>

    </div>
{% else %}
{% endif %}












<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% if user1 != "admin" %}
<hr class="text-alert border">

<a href="#" data-target="#delete_compte" data-toggle="modal">
    <div class="center-block text-center">
        <button type="button" class="btn btn-outline-danger btn-lg">Supprimer mon compte</button>
    </div>
</a>

<div class="modal p-5" id="delete_compte">
    <div class="modal-dialog p-5">
        <div class="modal-content p-5 center-block text-center">
            <h3>Souhaitez-vous supprimer <strong> définitivement </strong> votre compte ? </h3>
            <a href="{% url 'delete_compte'%}">
                <button type="button" class="btn btn-outline-danger center-block">Supprimer mon compte</button>
            </a>

        </div>
    </div>
</div>

{% else %}
{% endif %}



{% endblock content %}