{% extends 'yoga_website/home.html' %}
{% block title %} Inscription Réussi {% endblock title %}

{% block content %}
<h1 class="mt-3 text-center text-{{ var_color }}">Bonjour {{ username }} ! Votre inscription a bien été prise en compte, vous recevrez un mail de confirmation d'ici quelques minutes.
Afin de valider votre inscription vous recevrez un formulaire à remplir.
</h1>
<br>
<h1 class="mt-3 text-center text-{{ var_color }}">A l'adresse : {{ email }} </h1>
<h2 class="text-center text-{{ var_color }}">Vous serez rediriger dans 10 secondes vers notre page d'accueil</h2>
<script>
    setTimeout(function(){
        window.location.href = '{% url 'home' %}';
    }, 10000);
</script>
{% endblock content %}
