{% extends 'yoga_website/bienvenu.html' %}
{% block title %} Reset my Password {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<br>
{% if echec %}
<h1 class="text-center"> Nous n'avons malheuresement pas retrouvé votre compte ! </h1>

{% else %}

<h1 class="text-center"> Bonjour <strong> {{ username }} </strong> Veuillez utiliser le formulaire ci-dessous pour modifier votre mot de passe ! </h1>

        <form class="w-50 text-center d-block mx-auto" role="form" method="post">
            {% csrf_token %}
            {{ form_password|crispy}}
            <button type="submit" class="btn btn-outline-primary"> Modifier mon mot de passe ! </button>
        </form>
{% endif %}
{% endblock content %}