{% extends 'yoga_website/bienvenu.html' %}
{% block title %} Reset my Password {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<h1 class="text-center"> Veuillez utiliser le formulaire ci-dessous pour modifier votre mot de passe ! </h1>

        <form class="w-50 text-center d-block mx-auto" role="form" action="{% url 'reset_password_step' %}" method="post">
            {% csrf_token %}
            {{ form_password|crispy}}
            <button type="submit" class="btn btn-outline-primary"> Modifier mon mot de passe ! </button>
        </form>

{% endblock content %}