{% extends 'yoga_website/home.html' %}
{% block title %} Reset my Password {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<h1 class="text-center"> Veuillez entrer ci-dessous votre adresse mail <strong>ou</strong> votre nom d'utilisateur </h1>

        <form class="w-50 text-center d-block mx-auto" role="form" action="{% url 'reset_password' %}" method="post">
            {% csrf_token %}
            {{ form_password|crispy}}
            <button type="submit" class="btn btn-outline-primary">Utiliser ces données ! </button>
        </form>

{% endblock content %}





