{% extends 'user_experience/home.html' %}
{% load static %}
{% block title %}
Mon espace
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<div class="p-3 bg-white shadow-lg">
    <h1>Mon espace personnel :</h1>
    <h2 class="ml-5">Bienvenue <strong class="text-vert">{{ user.username }} </strong> </h2>
    <br>
{% if user1 == "client" %}
    <h3 class="ml-5">Votre compte est activé <i class="fas fa-clipboard-check text-{{var_color}}"></i></h3>
</div>
    <div class="p-3 bg-white shadow-lg mt-2">
        <h1>Mes coordonnées :</h1>
        <ul class="text-vert">
                <li> <h4> <strong>Nom : </strong>{{ client.last_name }}</h4></li>
                <li> <h4> <strong>Prénom : </strong>{{ client.first_name }}</h4></li>
                <li> <h4> <strong>N° : </strong>{{ client.Phone }}</h4></li>
                <li> <h4> <strong>Email : </strong>{{ client.mail_adress }}</h4></li>
        </ul>
    </div>

    <div class="p-3 bg-white shadow-lg mt-2">
        <h1>Mes prochaines séances :</h1>
        {% if nb_registered == 0 %}
            <h3 >Vous n'êtes inscrit à aucune séance !</h3>
        {% else %}
            <h3 >Vous êtes inscrit à <strong class="text-vert">{{ nb_registered }} séance{{ nb_registered|pluralize }} </strong></h3>
        {% endif %}
        <ul>
            {% for l in workshop %}
                {% if l.id in id_registered %}
                    <a href="{% url 'detailWorkshop'  l.id client.id %}">
                        <li>{{ l.type }} {{ l.date }} - {{ l.location }}</li>
                    </a>
                {% else %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="p-3 bg-white shadow-lg mt-2">
        <h1>Modifier mes informations :</h1>

        <form class="w-50 text-center d-block mx-auto" role="form" action="{% url 'espace' %}" method="post">
            {% csrf_token %}
            {{ user_modif|crispy}}
            <button type="submit" class="btn btn-outline-primary">Modifier mes informations</button>
        </form>

    </div>
{% else %}
{% endif %}

{% if user1 == "client_not_active" %}
    {% if pdf_send is not True %}
    <hr>

        <h3>Attention ! Votre compte n'est pas encore activé <i class="fas fa-clipboard-check text-danger"></i></h3>
        <h4>Veuillez remplir et nous transmettre votre forumalaire :</h4>

        <ul>
            <li><h4><a href="{% static 'user_experience/'%}{{ path_pdf }} "> Télécharger mon formulaire </a></h4></li>
            <li><h4><a href="{% url 'upload_pdf' %}">Envoyer mon formulaire d'adhésion</a></h4></li>
        </ul>

    {% else %}
        <h3 class="ml-5 text-primary">Nous avons bien reçu votre formulaire, il est en cours de traitement !</h3>
    {% endif %}
    </div>

    <div class="p-3 bg-white shadow-lg mt-2">
        <h1>Modifier mes informations :</h1>
    </div>

{% else %}
{% endif %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% if user1 != "admin" %}
<hr class="text-alert border">

<a href="#" data-target="#delete_compte" data-toggle="modal">
    <div class="center-block text-center">
        <button type="button" class="btn btn-outline-danger btn-lg">Supprimer mon compte</button>
    </div>
</a>

<div class="modal p-5" id="delete_compte">
    <div class="modal-dialog p-5">
        <div class="modal-content p-5 center-block text-center">
            <h3>Souhaitez-vous supprimer <strong> définitivement </strong> votre compte ? </h3>
            <a href="{% url 'delete_account'%}">
                <button type="button" class="btn btn-outline-danger center-block">Supprimer mon compte</button>
            </a>

        </div>
    </div>
</div>

{% else %}
{% endif %}



{% endblock content %}