{% extends 'content_static/home.html' %}
{% block title %} Reset my Password {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<!-- Effective password change page -->

<!-- Redirection in case of error on the previous page -->
{% if echec %}
    <h1 class="text-center"> Nous n'avons malheuresement pas retrouvé votre compte ! </h1>
    <h2 class="text-center">Vous allez être redirigé vers la page afin de saisir de nouveau identifiants</h2>
    <script>
        setTimeout(function(){
            window.location.href = '{% url 'reset_password' %}';
        }, 5000);
    </script>



{% else %}
<!-- Password change form -->
    <h1 class="text-center"> Bonjour <strong> {{ username }} </strong> Veuillez utiliser le formulaire ci-dessous pour modifier votre mot de passe ! </h1>

    <form class="w-50 text-center d-block mx-auto" role="form" method="post">
        {% csrf_token %}
        {{ form_password|crispy}}
        <button type="submit" class="btn btn-outline-primary"> Modifier mon mot de passe ! </button>
    </form>

{% endif %}

{% endblock content %}
